.popup__input {
  position: relative;
  padding-bottom: 10px;
  font-family: Inter;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 30px;
  color: #000;
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.popup__input:last-of-type {
  margin-bottom: 48px;
}

@media screen and (max-width: 375px) {
  .popup__input {
    margin-bottom: 20px;
  }
  .popup__input:last-of-type {
    margin-bottom: 38px;
  }
}
