.header {
  max-width: 882px;
  max-height: 74px;
  border-bottom: 1px solid rgba(54, 54, 54, .7);
  margin: auto;
  padding-top: 45px;
  padding-bottom: 40px;
}

@media screen and (max-width: 919px) {
  .header {
    margin: 0 19px;
    padding-top: 28px;
    padding-bottom: 0;
    height: 56px;
  }
}

@media screen and (max-width: 619px) {
  .header {
    margin: 0;
  }
}
