.popup__save-button {
  height: 50px;
  font-family: Inter;
  font-size: 18px;
  line-height: 22px;
  background: #000;
  border-radius: 2px;
  color: white;
  border: none;
  outline: none;
  padding: 0;
  transition: opacity .2s linear;
}

.popup__save-button:hover {
  opacity: .8;
  cursor: pointer;
}

@media screen and (max-width: 375px) {
  .popup__save-button {
    height: 40px;
    font-size: 14px;
    line-height: 20px;
  }
}
