.profile__info {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  flex-wrap: wrap;
  max-width: 336px;
}

@media screen and (max-width: 619px) {
  .profile__info {
    max-width: 280px;
    padding-right: 0;
  }
}

@media screen and (max-width: 467px) {
  .profile__info {
    justify-content: center;
  }
}
